.todo-item {
  span {
    &::after {
      content: ' | ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }
}

.todo-input {
  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    margin-right: 10px;
  }
}
